.cell-component {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  /* Відображення */
  font-size: 1.5em; /* Розмір цифри */
  text-align: center;
  color: #007bff; /* Колір цифр, які вводить користувач */
  background-color: #fff;

  /* Скидання стилів input */
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box; /* Важливо для сітки */
}

/* Скидання стрілок для type="number" (хоча ми використовуємо "text") */
.cell-component::-webkit-outer-spin-button,
.cell-component::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cell-component[type="number"] {
  -moz-appearance: textfield;
}

/* Клітинки, які були "задані" сервером */
.cell-component.is-given {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
  cursor: not-allowed;
}

/* Стилі для жирних ліній 3x3 */
.cell-component.border-thick-right {
  border-right: 3px solid #333;
}

.cell-component.border-thick-bottom {
  border-bottom: 3px solid #333;
}

/* Прибираємо подвійні лінії, оскільки сітка має border */
.cell-component:nth-child(9n) {
  border-right: 1px solid #ccc;
}
.board-grid > .cell-component:nth-child(n + 73) {
  border-bottom: 1px solid #ccc;
}
.cell-component.is-incorrect {
  /* Робимо цифру червоною */
  color: #d9534f;

  /* Робимо фон трішки червоним, щоб привернути увагу */
  background-color: #fdf2f2;
}

.cell-component.is-invalid-creation {
  /* Ми робимо фон червоним, а цифру - білою */
  background-color: #d9534f;
  color: white;
}
.cell-component.is-invalid-creation:focus {
  background-color: #c9302c;
}
